/* Default Style */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*Nav style */
.nav{
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.logo_container{
    color: white;
    background: black;
    padding: 10px 30px;
    text-align: center;
}

.nav_main_items{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav_auth_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.na_item{
    cursor: pointer;
    border: 2px solid black;
    padding: 7px 25px;
}

.solid{
    background-color: black;
    color: white;
}

/* Banner */
.banner_compo{
    position: relative;
    padding: 180px;
    text-align: center;
    background-color: rgb(120,120,120);
    color: white;
}

.banner_text_contents > h1{
    font-size: 60px;
}

.search_compo{
    position: absolute;
    top: 30px;
    right: 50px;
    display: flex;
    background-color: white;
    padding: 12px 17px;
}

.search_compo > input{
    border-radius: 0;
    border: 0;
}

.search_compo > input:focus{
    outline: none;
}

.search_btn{
    border: none;
}

.join_us_btn{
    text-align: center;
    color: white;
    background-color: black;
    padding: 12px 50px;
    border: none;
    margin: 20px;
    display: inline-flex;
    cursor: pointer;
}

/* Goals Style */
.goals_compo{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.goals_compo > h1{
    font-size: 40px;
    padding: 20px;
}

.goals_compo > h3{
    font-size: 27px;
    padding: 15px;
}

.goals_compo > p{
    padding: 10px;
}

/* Why style */
.why_compo{
    padding: 100px;
    background-color: rgba(200,200,200,0.3);
}

.why_compo > h1{
    text-align: center;
}

.why_containers{
    margin: 80px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.why_content{
    border: 1px solid black;
    padding: 20px;
}

.why_content > h3{
    font-size: 19px;
    padding-bottom: 6px;
    display: inline-block;
    border-bottom: 2px solid black;
}

.why_content > p{
    padding: 20px 0 0;
}


/* Help Style */
.help_compo{
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

.help_options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    margin:50px 120px;
}

.help_option{
    padding: 16px 20px;
    border: 2px solid black;
    transition: .5s;
}

.help_option:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Footer */
.footer_compo{
    background-color: black;
    color: white;
    padding: 60px 100px;
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    gap: 100px;
}

.footer_1 > h1{
    font-size: 30px;
    font-weight: 600;
}

.footer_1 > h3{
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
}

.footer_2{
    display: grid;
    gap: 10px;
}

.footer_2 > .nm_item{
    cursor: pointer;
}

/* Auth Compo */
.auth_options{
    display: flex;
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
}

.auth_option{
    cursor: pointer;
}

.auth_option:hover{
    border-bottom: 2px solid black;
}
